"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 132
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "linter-eslint":
    useGlobalEslint: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    highlightSearch: true
    incrementalSearch: true
    incrementalSearchVisitDirection: "relative"
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
